h1 {
color:Green;
margin-left: 40%;

}
body {
background-color:#82EFCE;

}
img.boda {
margin-left:0%;
width:35%;
border:2px solid white;
}
img.mejor {
margin-left:3%;
border:2px solid white;
}
h2 {
font-size: 106%;
text-align: center;
}
